.heroBanner {
    width: 100%;
    padding: 20px 0;
    position: relative;
}

.icon {
    height: 80px;
    width: 80px;
}

.software {
    font-size: 60px;
    margin: 0;
}

.tagline {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.description {
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.button {
    border: 3px solid var(--ifm-tabs-color-active);
    border-radius: var(--ifm-global-radius);
    text-align: center;
    font-size: 18px;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 5px 20px;

    &:hover {
        background-color: var(--ifm-color-primary);
        color: #fff;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .software {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .tagline {
        font-size: 24px;
        line-height: 1.3;
    }

    .description {
        font-size: 16px;
    }
}