:root {
    --card-bg-color: #f7f5f5;
}

[data-theme='dark'] {
    --card-bg-color: #0b1215 !important;
}

.buttonsContainer {
    display: flex;
    gap: 10px;
}

.card {
    margin-bottom: 30px;
    background-color: var(--card-bg-color);
}

.cardHeader {
    background-color: var(--ifm-color-primary);
    color: white;
    padding-left: 16px;
    font-size: 22px;
    text-transform: capitalize;
}

.cardBody {
    padding: 16px;
}

.configOption {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid gray;

    &:last-child {
        border-bottom: none;
    }
}

.loadButton {
    width: 150px;
    outline: 3px solid var(--ifm-tabs-color-active);
    outline-offset: -3px;
    border: 0;
    border-radius: var(--ifm-global-radius);
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--ifm-tabs-color-active);
    margin-left: 5px;

    &:hover {
        background-color: var(--ifm-color-primary);
        color: #fff;
    }
}

.statusMessage {
    margin-top: 20px;
}

.pluginName:hover {
    cursor: pointer;
}

.pluginInfoPopover {
    position: absolute;
    background-color: white;
    color: black;
    padding: 16px;
    z-index: 1000;
    min-width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    p {
        margin: 0;
    }
}

.pluginNamePopover {
    font-size: 18px;
    font-weight: bold;
}

.pluginEnabled {
    border-radius: 10px;
    padding: 0 10px;
    width: fit-content;
    color: white;
}

.pluginAuthorsLabel {
    padding-top: 15px;
}

.viewDumpSource {

}

.pluginEnabledIndicator {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.fontNormal {
    font-weight: normal;
}

.button {
    width: 150px;
    outline: 3px solid var(--ifm-tabs-color-active);
    outline-offset: -3px;
    border: 0;
    border-radius: var(--ifm-global-radius);
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--ifm-tabs-color-active);

    &:hover {
        background-color: var(--ifm-color-primary);
        color: #fff;
    }
}

.buttonSecondary {
    outline: 3px solid var(--ifm-color-secondary);
    
    &:hover {
        background-color: var(--ifm-color-secondary);
    }
}

.formInput {
    border-radius: var(--ifm-global-radius);
    outline: 1px solid var(--ifm-color-secondary);
    outline-offset: -1px;
    padding: 10px;
    min-width: 50%;
    font-size: 16px;
}

.noOutline {
    outline: none;
}

@media screen and (max-width: 768px) {
    .formInput {
        min-width: 100%;
    }
}

/* Modified from https://danklammer.com/articles/simple-css-toggle-switch */
.checkbox {
    appearance: none;
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    width: 4.5em;
    height: 1.8em;
    padding: 0.2em;
    border: none;
    cursor: pointer;
    border-radius: 1.5em;
    overflow: hidden;
    background-color: #707070;
    transition: background ease 0.3s;

    &:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        width: 1.8em;
        height: 1.8em;
        background: #fff;
        color: #fff;
        border-radius: 1.5em;
        transition: transform cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
    }
      
    &:checked {
        background-color: var(--ifm-color-secondary);
    }
      
    &:checked:before {
        transform: translateX(2.5em);
    }
}