name: Build PR

on:
  pull_request:

jobs:
  build: 
    name: Build PR
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 22

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: 0

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: 22
          cache: yarn
          package-manager-cache: true

      - name: Install dependencies
        run: yarn install --immutable

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: |
            ${{ github.workspace }}/.docusaurus
            ${{ github.workspace }}/**/.cache
          key: |
            ${{ runner.os }}-docusaurus-en-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          restore-keys: |
            ${{ runner.os }}-docusaurus-en-${{ hashFiles('**/yarn.lock') }}

      - name: Build website
        run: yarn build --locale en

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: build